@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome to Teen Jobs";
}
<div>
    <p>Welcome to Teen Jobs!</p>
    <p><a href="@Href("~/Jobs/Jobs")">Browse current job listings.</a></p>
</div>