﻿@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Apply for a Job at Teen Jobs";
        var db = Database.Open("StarterSite"); 

    if(IsPost)
    {
        string Name = Request["inputName"];
        string Address = Request["inputAddress"];
        string CityStateZip = Request["inputCityStateZip"];
        var SQLINSERT = "INSERT INTO JobApplication (Name, Address, CityStateZip) VALUES (@0, @1, @2)"; 
        Response.Write(Name);
        Response.Write(Address);
        Response.Write(CityStateZip);
        Response.Write(SQLINSERT);
        db.Execute(SQLINSERT, Name, Address, CityStateZip);
        Response.Redirect("Jobs.cshtml");
    }
    
    var selectClubs = "SELECT * FROM Clubs ORDER BY ClubName";
    var clubdata = db.Query(selectClubs);


    //var db = Database.Open("StarterSite");
    //var sqlQ = "Select * FROM Jobs WHERE @JobTitle = " + JobTitle;
    //var data = db.Query(sqlQ);
    //
}
<p>
    Submit an application to Teen Jobs.
</p>
<form action="" method="post">
    <p>
        <table width="200px" class="formtable">
    <tr><td>Name</td><td><input type="text" name="inputName" class="forminput" /></td></tr>
    <tr><td>Address</td><td><input type="text" name="inputAddress" class="forminput" /></td></tr>
    <tr><td>City State Zip</td><td><input type="text" name="inputCityStateZip" class="forminput" /></td></tr>
    <tr><td>Home Phone</td><td><input type="text" name="inputHomePhone" class="forminput" /></td></tr>
    <tr><td>Cell Phone</td><td><input type="text" name="inputCellPhone" class="forminput" /></td></tr>
    <tr><td>Email</td><td><input type="text" name="inputEmail" class="forminput" /></td></tr>
    <tr><td>Age</td><td><input type="text" name="inputAge" class="forminput" /></td></tr>
    <tr><td>School</td><td><input type="text" name="inputSchool" class="forminput" /></td></tr>
    <tr><td>Current Grade</td><td><input type="text" name="inputCurrentGrade" class="forminput" /></td></tr>
    <tr><td>HS Graduation Year</td><td><input type="text" name="inputHSGraduationYear" class="forminput" /></td></tr>
    <tr><td width="180px">Are you currently a Boys &amp; Girls Club of King County Member?</td><td><input type="checkbox" name="inputBGCKingCoMemeber" /></td></tr>
    <!-- The "which clubs" field's visibility is dependent on  BGCKingCoMemeber input. --> 
    <tr><td>Which Club</td><td><select name="whichclub" class="forminput">
        @foreach(var club in clubdata)
        {
            <option value="@club.ClubId">@club.ClubName</option>
        }
    </select></td></tr>
    <!-- The following is meant to be a multiline textbox -->
    <tr><td colspan="2">How did you hear about YouthForce?<br />
        <textarea rows="6" cols="40" name="inputHearAboutUs" class="forminput"></textarea></td></tr>
    
    <tr><td colspan="2"><input type="submit" value="Add Job" /></td></tr>
        </table>
    </p>
</form>
