@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Teen Jobs - Thanks for submitting an application at Teen Jobs";
}

<p>Thanks for submitting an application.</p>
<a href="@Href("~/Jobs/Jobs")">Click here to go back to the jobs page.</a>