@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome to Teen Jobs";

        var id = Request["id"];
        var SQLSELECT = "SELECT JobTitle FROM Jobs where JobID=@0"; 
        var db = Database.Open("StarterSite");   
        var Jobs = db.QuerySingle(SQLSELECT,id);
        var jobTitle = Jobs.JobTitle;
        if(IsPost)
        {
            jobTitle = Request["formJobTitle"];
            var SQLUPDATE = "UPDATE Jobs SET JobTitle=@0 WHERE JobID=@1";  
            db.Execute(SQLUPDATE, jobTitle, id);
            Response.Redirect("Jobs.cshtml");
        }
}
<p>
    View a job in the database.
</p>
<p>Job Title: @jobTitle"</p>